.nav{
  padding-left:6%;
  padding-right:6%;
  padding-top:6px;
  padding-bottom:6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #DAE1e9;
}
.logo
{
  width:70px!important;
}
h1,h2,h3,h4,h5,h6,p,a,span{
  font-family:"Roboto",sans-serif !important;
}
.nav h1{
  font-weight: 300!important;
}
#faux{
  width:50px!important;
}
