.prompt{
    display: flex!important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f8e9;
    height:50%!important;
}
.convince{
  width: 50%!important;
    display: flex;
    flex-direction: column;
    height: 50% !important;
    justify-content: center;
}
.buttons{
  width: 25%!important;
    height: 50%;
    /* padding: 20%; */
    padding-left: 12.5% !important;
    padding-right: 12.5% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.convince h1{
  width: 70%;
    text-align: left;
    padding-left: 30%;
    font-weight:300;
    margin:1%!important;
}
.buttons h1{
  width: 70%;
    text-align: left;
    padding-left: 0%;
    font-weight:300;
    margin:1%!important;
}
#bigger{
  font-size:300%!important
}
.what{
  background-color:#e35700;
  padding: 2% 25%;
color: #eee;
text-align: left;
font-size: x-large;
font-weight:300!important;
}
a{
  text-decoration: none!important;
}
a:hover{
  cursor:pointer!important;
}
.counter{
  height:50px;
  width:100%!important;
  color:white;
  justify-content: center;
  align-items: center;
  background-color:#ff1744;
}
.counter h1{
  margin:0%!important;
  font-weight: 300;
  padding-top:4px!important
}
#button-d{
  height:50px;
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:22px!important;
  font-weight:300!important;
    background-color:#488fc8;
    border:1px solid #488fc8;
    border-radius:4px;
    color:#fff

}

#button-d:hover{
  background-color: #fff;
  color:#488fc8;
  cursor:pointer!important;
}
