.page{
  padding-left:15%!important;
  padding-right:15%!important;
  padding-top:2%!important;
  display:flex;
  height:50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-holder{
  background-color: #fff!important;
  border-radius:5px!important;
  padding:40px!important;
}

.form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page h1{
  margin:0%!important;
  font-weight: 300;
}
.page h2{
  font-weight:300!important;
}

.flood{
  background-color: #EF5350;
}

#button-holder{
  width:40%;
  display:flex!important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
